<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task4</title>
</head>
<body>

<h1 data-th-text="${'CÍM: ' + entry.title}"></h1>
<h1>Cím <span data-th-text="${entry.title}"></span></h1>
<p>Rating duplája: <span data-th-text="${entry.rating*2}"></span></p>


<p>Nevek száma: <span data-th-text="${#lists.size(names)}"></span></p>
<p>Nevek:</p>
<ul>
    <li data-th-each="name: ${names}"><span data-th-text="${name}"></span></li>
</ul>
<p>Nevek:</p>
<ol>
    <li data-th-each="name: ${names}" data-th-text="${name}"></li>
</ol>


</body>
</html>